.FrameContanierchangeBorrowBooks{
    background-color: white;
    margin-left: 10px;
    padding: 10px;
    padding-left: 50px;
    border-radius: 10px;
}

.uploadAvatarchangeBorrowBooks{
    padding: 30px 0px 30px 0px;
    margin-left: 20px;
}

.containeruploadAvatarchangeBorrowBooks{
    display: flex;

    img{
        width: 250px;
        height: 350px;
        border-radius: 10px;
        margin-right: 30px;
    }

    div h2{
        font-size: 40px;
        text-align: start;
        margin: 0;
        margin-left: 0;
        margin-top: 16px;
    }

    div h3{
        font-size: 30px;
        width: 480px;
        text-align: start;
        margin: 0;
        margin-left: 0;
        margin-top: 16px;
    }

    div div{
        font-size: 13px;
        text-align: start;
        margin: 10px 10px 10px 10px;
        margin-left: 0;
        color: #CDCDD0;
        font-weight: bold;
    }
}

.infoDisplay {
    display: inline-block; /* Cho phép width có tác dụng */
    width: 400px;
    max-width: 305px; /* Đảm bảo không vượt quá 400px */
    border-radius: 10px;
    padding: 7px 5px 10px 10px;
    background-color: white;
    border: 2px solid #CBCBDC;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
}

.containeraddMemeber{
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
}

/* right and left */

.containeraddMemeberRight,
.containeraddMemeberleft{
    display: flex;
    flex-direction: column;
    margin-left: 50px;

    .MemberDatePickerAddBorrowBooks{
        width: 300px;
        border-radius: 10px;
        padding: 10px;
        background-color: white;
        border: 2px solid #CBCBDC;
        margin-left: -1px;
    }

    .inputInfochangeBorrowBooks{
        margin-bottom: 50px;

        div{
            margin-bottom: 10px;
        }
    }
}

.MemberDatePickerAddBorrowBooks{
    width: 674px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    border: 2px solid #CBCBDC;
    margin-left: -1px;
}

.bookReturnDate{
    /* margin-left: 80px;
    margin-bottom: 50px; */
    margin: -15px 0px 50px 80px;

    div{
        margin-bottom: 10px;
    }

    .MemberDatePickerAddBorrowBooks{
        width: 675px;
        border-radius: 10px;
        padding: 10px;
        background-color: white;
        border: 2px solid #CBCBDC;
        margin-left: -1px;
    }
}

.ButtonAddchangeBorrowBooks{
    margin: 0px 0px 10px 80px;
}

.SaveButtonchangeBorrowBooks{
    margin-right: 80px;
}

.SaveButtonchangeBorrowBooks{
    width: 100px;
}

.SaveButtonchangeBorrowBooks{
    background-color: #2864F6;
}

.SaveButtonchangeBorrowBooks:hover{
    opacity: 0.7;
}

.SaveButtonchangeBorrowBooks:active{
    opacity: 0.6;
}