/* General styling for the registration page */
.register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../../images/BG.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /* Logo container styling */

  .logo-container-register {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-register-page {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url('../../images/logo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /* Logo name styling */
  .NameLogoRegister {
    color: white;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px 20px;
    border-radius: 10px;
  }
  
  /* Registration container styling */
  .register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* Form styling */
  .register-form {
    width: 100%;
  }
  
  /* Heading styling */
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Input group styling */
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 300px;
  }
  
  .input-group label {
    margin-bottom: 5px;
  }
  
  .input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Button styling */
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3; /* Darker shade on hover */
  }
  
  .links-container-register {
    display: flex;
    justify-content: center; /* Center the links */
    margin-bottom: 5px;
    margin-top: 5px;
  }
