:root{
    --marginLeft : 10px ;
}

.headerReport{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    margin-left: var(--marginLeft);
    align-items: center;
    padding: 0px 30px 0px 50px;
    margin-bottom: 20px;
}

.ButtonHeaderReport{
    display: flex;
    width: auto;
    padding: 10px 20px 10px 20px;
    margin-left:20px;
    border-radius: 10px;

    img{
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }
    
}

/* chart */
.ContanerChartReport{
    display: flex;
    gap: 20px; 
    margin-left: var(--marginLeft);
    margin-top: 20px; 
}

.OverduePenaltyChart{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.quantityBooks{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 460px;
}

.genderRatio{
    background-color: white;
    border-radius: 10px;
    width: 400px;
}

.BorrowedBooksByCategory{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.ReaderTrends{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
}

.ReportDatePicker{
    width: 68px;
    margin-left: 10px;
    cursor:pointer;
    border: none;
    outline: none; 
    background-color: transparent; 
    font-size: 15px; 
    position: relative; 
    z-index: 2;
    color: white;
}

.ReportDatePicker:focus {
    border: none; 
    outline: none; 
}

.ReportDatePicker::placeholder {
    color: white; /* Đổi màu chữ thành trắng */
    opacity: 1; /* Đảm bảo màu hiển thị rõ */
}