.FrameContanieraddBook{
    background-color: white;
    margin-left: 10px;
    padding: 10px;
    padding-left: 50px;
    border-radius: 10px;
}

.uploadAvatarAddBook{
    padding: 30px 0px 30px 0px;
    margin-left: 20px;
}

.containeruploadAvatarAddBook{
    display: flex;

    img{
        width: 250px;
        height: 350px;
        border-radius: 10px;
        margin-right: 30px;
    }

    div{
        margin-top: 2px;
    }
}

.ButtonuploadImageAddBook{
    width: 100px;
    margin: -80px 0px 10px 70px;
    background-color: #2864F6;
    position: absolute;
}

.ButtonuploadImageAddBook:hover{
    opacity: 0.9;
}

.ButtonuploadImageAddBook:active{
    opacity: 0.8;
}

.containeraddBook{
    display: flex;
    margin-left: -20px;
    margin-top: -20px;
}

/* right and left */

.containeraddBookRight,
.containeraddBookLeft {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.containeraddBookLeft input,
.containeraddBookRight input {
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    border: 2px solid #CBCBDC;
    margin-bottom: 25px;
}

.containeraddBookRight select {
    width: 324px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    border: 2px solid #CBCBDC;
    margin-bottom: 25px;
}

.inputInfoAddBooklanguage select{
    width: 324px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    border: 2px solid #CBCBDC;
}

.inputInfoAddBooklanguage div {
    margin-bottom: 10px;
}

.inputInfoAddBook {
    margin-bottom: 5px;
}

.inputInfoAddBook div {
    margin-bottom: 10px;
}

.MemberDatePickerAddBook{
    width: 323px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    border: 2px solid #CBCBDC;
}

.ButtonAddBook{
    display: flex;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: 20px;
}

.btnAddBookSave {
    margin-right: 80px;
}

.btnAddBookSave ,
.btnAddBookReset{
    width: 100px;
}

.btnAddBookSave {
    background-color: #2864F6;
}

.btnAddBookReset{
    background-color: red;
}

.btnAddBookSave :hover{
    opacity: 0.7;
}

.btnAddBookReset:hover{
    background-color: red;
    opacity: 0.7;
}

.btnAddBookSave :active{
    opacity: 0.6;
}

.btnAddBookReset:active{
    background-color: red;
    opacity: 0.6;
}